/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: #353430;
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --primary-heading-color: #ffc2e6;
  --secondary-heading-color: var(--text-color);
  --tertiary-heading-color: var(--text-color);
  --is-light: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-opacity: #32312d66;
    --text-color: #353430;
    --decoration-color: var(--text-color);
    --background-color:#fff1f7;
    --primary-heading-color: #ffc2e6;
    --secondary-heading-color: var(--text-color)
   --tertiary-heading-color:var(--text-color)
    --is-light: hidden;
  }
  

}